@font-face { font-family:'Sage Text'; src:url('../Font/SageText-Light.otf') format('opentype'); font-weight:300 }
@font-face { font-family:'Sage Text'; src:url('../Font/SageText-Regular.otf') format('opentype'); font-weight:400 }
@font-face { font-family:'Sage Text'; src:url('../Font/SageText-Medium.otf') format('opentype'); font-weight:500 }
@font-face { font-family:'Sage Text'; src:url('../Font/SageText-Bold.otf') format('opentype'); font-weight:700 }
@font-face { font-family:'Sage Headline'; src:url('../OpenType Fonts/SageHeadline-Black.otf') format('opentype'); font-weight:900 }
@font-face { font-family:'Sage UI'; src:url('../OpenType Fonts/SageUI-Regular.otf') format('opentype'); font-weight:400 }
@font-face { font-family:'Sage UI'; src:url('../OpenType Fonts/SageUI-Medium.otf') format('opentype'); font-weight:500 }
@font-face { font-family:'Sage UI'; src:url('../OpenType Fonts/SageUI-Bold.otf') format('opentype'); font-weight:700 }

:root {
  --spec-over-light: #9417ed;
  --background-colors-black: #000000;
  --background-colors-95-black: #000000f2;
  --background-colors-white: #ffffff;
  --background-colors-gray-s4: #1b1b1b;
  --background-colors-94-gray-s4: #1b1b1bf0;
  --background-colors-light-gray: #f2f5f6;
  --background-colors-4-black: #0000000a;
  --background-colors-jade-t7: #d1fde0;
  ---1680-body-xs-family: 'Sage Text';
  ---1680-body-xs-size: 14px;
  ---1680-body-xs-weight: 400;
  --primary-colors-brilliant-green: #00d639;
  --primary-colors-black: #000000;
  --primary-colors-white: #ffffff;
  --text-disabled: #000000;
  --primary-colors-accessible-jade: #008146;
  --text-primary-over-dark: #FFFFFF;
  --gray-scale-gray-s4: #1b1b1b;
  --gray-scale-gray-s1: #5E5E5E;
  --gray-scale-gray-t1: #777777;
  --primary-black: #000000;
  --gray-scale-gray-t3: #ababab;
  --gray-scale-gray-s3: #303030;
  --gray-scale-gray-t4: #C6C6C6;
  --gray-scale-gray-s2: #474747;
  --gray-scale-gray-t2: #919191;
  --gray-scale-gray-t5: #E2E2E2;
  --gray-scale-gray-t6: #F0F0F0;
  --semantic-colors-positive: #008a21;
  --semantic-colors-caution: #ef6700;
  --semantic-colors-info: #0060a7;
  --semantic-colors-focus: #ffb500;
  --semantic-colors-negative-over-light: #cd384b;
  --text-colors-over-light-primary-over-light: #000000e5;
  --text-colors-over-light-secondary-over-light: #000000a6;
  --text-colors-over-light-opaque-black: #000000;
  --text-colors-over-light-disabled-over-light: #0000004d;
  --text-colors-over-dark-primary-over-dark: #ffffffe5;
  --text-colors-over-dark-secondary-over-dark: #ffffffa6;
  --text-colors-over-dark-opaque-white: #ffffff;
  --text-colors-over-dark-disabled-over-dark: #ffffff4d;
  --spec-h1-family: 'Sage Headline';
  --spec-h1-size: 40px;
  --spec-h1-weight: 900;
  --spec-h2-family: 'Sage Headline';
  --spec-h2-size: 24px;
  --spec-h2-weight: 900;
  --spec-over-light-2: #ff0084;
  --spec-h3-family: 'Sage Headline';
  --spec-h3-size: 16px;
  --spec-h3-weight: 900;
  --semantic-negative: #CD384B;
  --theme-buttons-btn-primary-text: #ffffffe5;
  --theme-buttons-btn-primary-bg: #000000;
  --theme-buttons-btn-tertiary-text: #000000e5;
  --theme-buttons-btn-secondary-text: #000000e5;
  --theme-buttons-btn-secondary-outline: #000000;
  --theme-buttons-btn-primary-alt-text: #ffffff;
  --theme-buttons-btn-primary-alt-bg: #008146;
  --theme-buttons-btn-secondary-alt-text: #008146;
  --theme-buttons-btn-secondary-alt-outline: #008146;
  --theme-buttons-btn-tertiary-underline: #000000;
  --theme-buttons-btn-tertiary-alt-text: #008146;
  --theme-buttons-btn-tertiary-alt-underline: #008146;
  --primary-black: #000000;
  --spec-h4-family: 'Sage Headline';
  --spec-h4-size: 12px;
  --spec-h4-weight: 900;
  --text-secondary-over-light: #000000;
  --theme-buttons-btn-primary-icon: #ffffff;
  --white: #FFFFFF;
  --text-primary-over-dark: #FFFFFF;
  --text-primary: #000000;
  --semantic-focus: #FFB500;
  --spec-over-dark: #00f2ff;
  --spec-body-family: 'Sage Text';
  --spec-body-size: 14px;
  --spec-body-weight: 400;
  --theme-text-text-primary-color: #000000e5;
  --primary-brilliant-green: #00D639;
  --theme-text-text-secondary-color: #000000a6;
  --primary-white: #FFFFFF;
  --utility-color-utility-major: #668494;
  --black: #000000;
  --text-primary-over-light: #000000;
  --primary-white: #FFFFFF;
  --utility-300: #668494;
  --utility-major: #668494;
  --text-disabled-over-light: #000000;
  --utility-25: #F2F5F6;
  --utility-100: #CCD6DB;
  ---768-body-xs-family: 'Sage Text';
  ---768-body-xs-size: 14px;
  ---768-body-xs-weight: 400;
  --background-6-white: #FFFFFF;
  --background-4-black: #000000;
  ---768-body-bold-family: 'Sage Text';
  ---768-body-bold-size: 17px;
  ---768-body-bold-weight: 700;
  ---768-body-sm-bold-family: 'Sage Text';
  ---768-body-sm-bold-size: 15px;
  ---768-body-sm-bold-weight: 700;
  --background-black: #000000;
  --background-white: #FFFFFF;
  --text-colors-over-light-negative-over-light: #cd384b;
  --text-colors-over-dark-negative-over-dark: #d86473;
  ---1680-body-family: 'Sage Text';
  ---1680-body-size: 18px;
  ---1680-body-weight: 400;
  --detailed-icon-over-light: #008A21;
  --functional-jade: #008C4E;
  ---1080-body-family: 'Sage Text';
  ---1080-body-size: 18px;
  ---1080-body-weight: 400;
  --detailed-icon-over-dark: #00D639;
  --semantic-positive: #008A21;
  --semantic-caution: #EF6700;
  --text-accessible-jade: #008146;
  --brilliant-green: #00D639;
  --jade-accessible: #008146;
  --spec-title-family: 'Sage Headline';
  --spec-title-size: 120px;
  --spec-title-weight: 900;
  --icon-detailed-icon: #00A159;
  ---1680-display-4-family: 'Sage Headline';
  ---1680-display-4-size: 68px;
  ---1680-display-4-weight: 900;
  --background-light-gray: #F2F5F6;
  --ui-callout-color: #914BC3;
  ---1680-display-3-family: 'Sage Headline';
  ---1680-display-3-size: 90px;
  ---1680-display-3-weight: 900;
  ---1680-h1-family: 'Sage Headline';
  ---1680-h1-size: 50px;
  ---1680-h1-weight: 900;
  ---1680-h2-family: 'Sage Headline';
  ---1680-h2-size: 40px;
  ---1680-h2-weight: 900;
  ---1680-h3-family: 'Sage Headline';
  ---1680-h3-size: 32px;
  ---1680-h3-weight: 900;
  ---1680-h4-family: 'Sage Text';
  ---1680-h4-size: 24px;
  ---1680-h4-weight: 700;
  ---1680-subtitle-sm-family: 'Sage Text';
  ---1680-subtitle-sm-size: 14px;
  ---1680-subtitle-sm-weight: 500;
  ---1680-subtitle-family: 'Sage Text';
  ---1680-subtitle-size: 18px;
  ---1680-subtitle-weight: 500;
  ---1680-body-lg-family: 'Sage Text';
  ---1680-body-lg-size: 22px;
  ---1680-body-lg-weight: 400;
}
